include SKILL.md README.md
include .gitignore .gitattributes .editorconfig
recursive-include requirements *.txt
include .github/CONTRIBUTING.md
recursive-include agents *.yaml
recursive-include references *.md
recursive-include scripts *.py
recursive-include docs *.md *.png *.gif *.json *.pptx
recursive-include tests *.py *.mjs *.xml *.json *.LICENSE *.NOTICE
global-exclude __pycache__ *.py[cod]
prune .local
prune .venv
prune jobs
prune exports
prune node_modules
